apiVersion: v1
kind: Secret
metadata:
  name: e2e-test-coverage-secrets
  namespace: e2e-test-coverage
  labels:
    app.kubernetes.io/name: e2e-test-coverage
type: Opaque
stringData:
  DB_USER: "root"
  DB_PASSWORD: "change_me"
  DB_HOST: "your-db-host:3306"
  JWT_KEY: "change_me_to_a_secure_key"
